APP_NAME="ASOIINFO Platform"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://asoiinfo-platform-v1.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=dpg-d8sqptvavr4c73arvuq0-a
DB_PORT=5432
DB_DATABASE=asoiinfo_db
DB_USERNAME=asoiinfo_db_user
DB_PASSWORD=3rnRd1xnZdM6NZA3Tqcgq6e8lKHx2wJa

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
CACHE_STORE=database
QUEUE_CONNECTION=sync

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

MAIL_MAILER=log
