APP_NAME="ASOIINFO Platform"
APP_ENV=production
APP_KEY=base64:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
APP_DEBUG=false
APP_URL=https://asoiinfo-platform-1.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=dpg-d8sqptvavr4c73arvuq0-a
DB_PORT=5432
DB_DATABASE=asoiinfo_db
DB_USERNAME=asoiinfo_db_user
DB_PASSWORD=3rnRd1xnZdM6NZA3Tqcgq6e8lKHx2wJa

SESSION_DRIVER=cookie
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
CACHE_STORE=file
QUEUE_CONNECTION=sync
TRUSTED_PROXIES=*
